{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
    <link href="{% static 'bigday/css/home.css' %}" rel="stylesheet">

    <!-- Library CSS -->
    <link href="{% static 'glanz/css/glanz_library.css' %}" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="{% static 'glanz/fonts/themify-icons.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'glanz/css/glanz_style.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700%7CAmatic+SC:300,400,700%7COpen+Sans:300,400,700%7CPlayfair+Display:400,400i,700,700i" rel="stylesheet">

    <!-- Other Fonts -->
    <link href="{% static 'glanz/fonts/marsha/stylesheet.css' %}" rel="stylesheet">

{% endblock %}
{% block page_content %}

<div class="gla_page gla_middle_titles" id="gla_page">
    <section id="gla_content" class="gla_content pd-none">
        <section class="gla_section gla_wht_txt save-the-date-bg pd-none vertical-center">
            <div id="save-the-date-carousel" class="carousel slide carousel-fade gla_over" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active item-one">
                    </div>
                    <div class="item item-two">
                    </div>
                    <div class="item item-three">
                    </div>
                </div>
            </div>

            <!-- Over -->
            <div class="gla_over" data-color="#282828" data-opacity="0.1"></div>


            <div class="container text-align-center text-align-right-medium pd-none">
                <p><img src="{% static 'images/animations/savethedate_wh.gif'%}" data-bottom-top="@src:{% static 'images/animations/savethedate_wh.gif'%}" height="150" alt=""></p>
                <h2>July 4th, 2020</h2>
                <h3 class="gla_subtitle">Victoria, BC, Canada</h3>

                <div class="gla_countdown" data-year="2020" data-month="07" data-day="04" style="margin-right: -30px"></div>
            </div>
            <!-- container end -->

        </section>
    </section>
</div>

{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>

    <!-- JQuery -->
    <script src="{% static 'glanz/js/jquery-1.12.4.min.js' %}"></script>
    <!-- Library JS -->
    <script src="{% static 'glanz/js/glanz_library.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'glanz/js/glanz_script.js' %}"></script>


{% endblock %}
